.logo {
  display: flex;
  align-items: center;
  height: 22.4px;

  @include onTablet {
    height: 29.6px;
  }

  &__image {
    width: 130px;
    height: 16.38px;

    @include onTablet {
      width: 190.08px;
      height: 24px;
    }
  }
}
