.logo {
  position: relative;
  height: 18px;

  @include onTablet {
    height: 24px;
  }

  &__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 130px;
    height: 16.38px;

    @include onTablet {
      width: 190.08px;
      height: 24px;
    }
  }
}
