.recommended {
  &__container {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 24px;
    }

    @include onDesktop {
      display: flex;
      gap: 24px;
    }
  }

  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      grid-column: 2 / 6;
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
